-c constraints.txt
-e src/bonnefanten[test]

zope.testrunner
kitconcept.seo
collective.volto.formsupport
redturtle.voltoplugin.editablefooter
collective.volto.socialsettings
collective.exportimport

# Add required add-ons
# (Ideally add them in setup.py for bonnefanten)
# collective.easyform
