.section-advancedsearch {
  .documentFirstHeading {
    @media screen and (min-width:768px){
      margin-top: 58px !important;
      padding-left: 20px !important;
    }
    @media screen and (min-width:992px) {
      margin-top: 118px !important;
      margin-bottom: 37px;
      padding-left: 21px !important;
    }
  }
  #view{
    margin-top: 3px;
    @media screen and (min-width: 768px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media screen and (min-width: 992px) {
      margin-left: 0px;
      margin-right: 0px;
    }

  }
  #page-document{
    width: auto !important;
  }

  #page-document .content-container {
    margin-top: 0px;
    padding-top: 14px;
    padding-right: 10%;
    padding-left: 10%;
    width: auto !important;
    @media screen and (min-width: 768px) {
        // padding-top: 25px;
        padding-right: 7.5%;
        padding-left: 7.5%;
        padding-top: 9px;
        // margin-left: 25px;
        // margin-right: 25px;
    }

    @media screen and (min-width: 1400px) {
      max-width: 1300px;
      padding-top: 7px;
    }
    .column{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  .block.search {
    // padding-left: 12.5px;
    // padding-right: 12.5px;
    .searchBlock-facets{
      max-width: 100% !important;
      margin-left: 0;
      margin-right: 0;
    }


    padding-left: 3px;
    padding-right: 3px;
    @media screen and (min-width: 768px) {
      padding-left: 9px;
      padding-right: 9px;
    }
    @media screen and (min-width: 992px) {
      padding-left: 13px;
      padding-right: 13px;
    }
    @media screen and (min-width: 1400px) {
      padding-left: 7.2px;
      padding-right: 7.2px;
    }

    .search-input input {
      height: 58px;
    }
    .search-wrapper{
      padding-bottom: 41px;
      @media screen and (min-width: 768px) {
        padding-bottom: 41px;
      }
      @media screen and (min-width: 992px) {
        padding-bottom: 32px;
      }
    }

    .text-input-facet,
    .select-facet {
      display: flex !important;
      justify-content: space-between !important;
      flex-direction: column;
      // margin-top: 33px;
      margin-top: 15px;
      // padding-right: 15px;
       @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-top: 15px;
        padding-right: 0px;
      }
    }

    .ui.header {
      display: block !important;
      margin-bottom: auto !important;
      margin-top: 18px !important;
      // padding-left: 15px;
      letter-spacing: 0.00em;
      font-family: 'StyreneRegular', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 16px;
      color: #b6a782;
      font-weight: 400;
      padding-bottom: 6px;

      @media screen and (min-width: 768px) {
        width: 33%;
        padding-bottom: 0px;
      }
    }
    .ui.input > input, .react-select-container > input {
      padding-top: 15.8px !important;
      padding-bottom: 15.8px !important;

    }

    .text-input-facet .ui.input, .react-select-container{
        @media screen and (min-width: 768px) {
          padding-left: 10px;
        }
      }

    .ui.input,
    .react-select-container {
      width: 100%;

      input,
      .react-select__value-container {
        font-family: 'StyreneBold', Arial, sans-serif !important;
        font-size: 17px !important;
        letter-spacing: 0.00em;
        font-weight: 400;
        color: var(--bonnefanten-primary) !important;
        background-color: var(--bonnefanten-bg) !important;
      }

      input::placeholder,
      .react-select__placeholder::placeholder {
        font-family: 'StyreneBold', Arial, sans-serif !important;
        font-size: 17px !important;
        letter-spacing: 0.00em;
        font-weight: 400;
        color: var(--bonnefanten-primary) !important;
      }
    }

    .react-select__value-container,
    .react-select__control,
    .react-select-container {
      color: var(--bonnefanten-primary) !important;
      background-color: var(--bonnefanten-bg) !important;
    }

    .css-b8ldur-Input {
      // padding-left: 15px;
    }

    .react-select__control,
    .react-select__control:hover {
      border: 2px solid var(--bonnefanten-primary);
      padding: 10px 31px;
      @media screen and (min-width: 768px){
        // padding: 10px 30px;
      }
    }

    .react-select__placeholder {
      color: var(--bonnefanten-primary) !important;
    }

    .react-select__multi-value {
      color: var(--bonnefanten-bg) !important;
      background-color: var(--bonnefanten-primary);
      flex-direction: row-reverse;
      border-radius: 3px;

      .react-select__multi-value__label {
        color: var(--bonnefanten-bg) !important;
        padding-left: 0px;
        padding-right: 6px;
        line-height: 20px;
        font-family: 'StyreneBold', Arial, sans-serif;
        letter-spacing: 0.00em;
        font-size: 16px;
      }

      .react-select__multi-value__remove {
        padding-right: 2px;

        svg {
          width: 16px;
          height: 16px;
          stroke-width: 1.5px;
        }
      }
    }

    .Search-main-button {
      border-radius: 0%;
      color: var(--bonnefanten-bg) !important;
      background-color: var(--bonnefanten-primary) !important;
      clip-path: polygon(0% 10px, 10px 0%, calc(100%) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100%));
      padding: 16px 29px;
      border: 2px solid var(--bonnefanten-primary);
      font-family: 'StyreneBold', Arial, sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 1.4;
      margin-left: 0px;
      margin-top: 41px;
      @media screen and (min-width: 768px) {
        margin-top: 24px;
      }
    }

    .Search-main-button:hover {
      background-color: var(--bonnefanten-bg) !important;
      color: var(--bonnefanten-primary) !important;
      clip-path: none;
    }

    .react-select__indicator .icon path {
      fill: var(--bonnefanten-primary) !important;
    }

    .react-select__menu {
      width: 99%;
    }
  }

  .listing-template .ui.grid{
    // display: block !important;

    .plone-item-card{
      display: flex;
      flex-direction: column;

      padding: 15px !important;
      margin-top: auto;
      // width: 100% !important;
      // display: flex;
      // flex-direction: row;
    }
    .plone-item-title{
      margin-top: auto;
    }
  }
}
