.accordion-block {
  .accordion {
    .accordion-title {
      background: var(--bonnefanten-primary, @primaryColor) !important;
      color: var(--bonnefanten-primary-text, @primaryText) !important;
      font-size: 21px !important;

      &.active {
        font-weight: 600 !important;
      }
    }
  }
}
