
.block.image, .block.video {
  figure {
    margin: 0;

    img {
      width: auto;
      height: auto;
      aspect-ratio: auto 4 / 3;
    }
  }

  &.align.center{
    .image-wrapper.small{
      figcaption{
        width: 35%;
        margin-left: auto;
        margin-right: auto
      }
    }
    .image-wrapper.medium {
      figcaption {
        width: 70%;
        margin-left: auto;
        margin-right: auto
      }
    }
  }

  figcaption, figcaption span {
    color: #696969;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

    .image-source {
      display: inline-block;
      margin-right: 0.5rem;

      + .image-caption {
        &::before {
          display: inline-block;
          margin-right: 0.5rem;
          content: ' ― ';
        }
      }
    }
  }

  &.full {
    margin-bottom: 3rem;
  }

  &.align.left {
    margin-left: 0;
    .video-inner{
      width: 100%;
    }
    .image-wrapper.medium, .image-wrapper.small {
      float: left !important;
      img{
        margin-right: 10px !important;
        float: none !important;
      }
    }
    .image-wrapper.small figcaption {
      max-width: 200px
    }

    .image-wrapper.medium figcaption {
      max-width: 400px
    }



    @media (max-width: 768px) {
      margin-right: -20px;
      margin-left: -20px;
    }

    @media (min-width: 769px) {
      // margin-left: -15%;

    }

    @media (min-width: 1200px) {
    figure.image-wrapper,
      .video-inner {
        padding-top: 50px;
        margin-bottom: 45px;

        img,
        .ui.embed {
          margin-right: 0 !important;
          margin-bottom: 21px;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  &.align.right {
    margin-left: 0;

    .video-inner {
      width: 100%;
    }

    .image-wrapper.medium,
    .image-wrapper.small {

      float: right !important;
      img {
        margin-left: 10px !important;
        float: none !important;
      }
    }
    .image-wrapper.small figcaption{
      max-width: 200px
    }
    .image-wrapper.medium figcaption {
      max-width: 400px
    }



    @media (max-width: 768px) {
      margin-right: -20px;
      margin-left: -20px;
    }

    @media (min-width: 769px) {
      // margin-left: -15%;

    }

    @media (min-width: 1200px) {

      figure.image-wrapper,
      .video-inner {
        padding-top: 50px;
        margin-bottom: 45px;

        img,
        .ui.embed {
          margin-right: 0 !important;
          margin-bottom: 21px;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }

  figure.full-width {
    figcaption {
      position: absolute;
      top: 100%;
      width: 100%;
      text-align: center;
    }
  }
}
#page-document .block.video.align.left{
  @media screen and (max-width: 768px){
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.view-viewview{
  .block.image, .block.video {
    &.align.left {
      @media (min-width: 1200px) {
        margin-left: -30% !important;
      }
    }
    &.align.right {
      @media (min-width: 1200px) {
        margin-right: -30% !important;
      }
    }
  }
}

.view-editview {
  .block.image,
  .block.video {
    &.align.left {
      @media (min-width: 1200px) {
        margin-left: -5% !important;
      }
    }

    &.align.right {
      @media (min-width: 1200px) {
        margin-right: -5% !important;
      }
    }
  }
}
