.block.listing {
  position: relative;

  h2.headline {
    margin-bottom: 2rem;
  }
}

.listing-template {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;

  @media (min-width: 480px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  .listing-column {
    @media (min-width: 992px) {
      padding-right: 12px !important;
      padding-left: 12px !important;
    }
  }

  .showmore-link {
    text-align: center;

    a,
    a.text-button.btn-block {
      text-transform: uppercase;
    }
  }

  .plone-item-card {
    padding-bottom: calc(50px - 2rem);

    .listing-image {
      display: flex;
      overflow: hidden;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 0 0 10px;

      img {
        min-width: 100%;
        min-height: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }
    }

    h3.plone-item-title {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      clear: both;
      color: var(--bonnefanten-primary);
      font-family: 'StyreneBold', Arial, sans-serif;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 30px;
      text-transform: none;

      span {
        border-bottom: 1px solid transparent;
      }
    }

    .plone-item-description {
      display: -webkit-box;
      overflow: hidden;
      margin: 10px 0 5px;
      -webkit-box-orient: vertical;
      color: var(--bonnefanten-primary-text, #575756);
      font-family: 'StyreneRegular', Arial, sans-serif;
      font-size: 19px;
      letter-spacing: 0em;
      -webkit-line-clamp: 4;
      line-height: 25px;
    }
  }

  a.plone-item-card-link {
    text-decoration: none !important;

    &:hover,
    &:focus {
      text-decoration: none !important;

      h3.plone-item-title {
        span {
          border-bottom: 1px solid var(--bonnefanten-primary);
        }
      }
    }
  }
}

.view-editview.has-sidebar {
  .listing-template, .homepage-slider-template, .whatson-template, .nutezien-slider-template,
  .permanent-exhibitons-template, .collection-slider-template {
    max-width: calc(90vw - 570px) !important;
  }
}

.view-editview.has-sidebar-collapsed {
  .listing-template, .homepage-slider-template, .whatson-template, .nutezien-slider-template,
  .permanent-exhibitons-template,.collection-slider-template  {
    max-width: calc(90vw - 270px) !important;
  }
}

.view-viewview .block.listing .emptyListing {
  display: none;
}


.listing-template .plone-item-card .title-description.private  h3.plone-item-title {
  color: #000 !important;
}
