body {
  --bonnefanten-bg: #ffe79a;
  --bonnefanten-primary: #f9423a;
  --bonnefanten-primary-text: #b6a782;
  --bonnefanten-primary-invert: #fff;
  --bonnefanten-secondary: #b6a782;
  --bonnefanten-text: #575756;
  accent-color: var(--bonnefanten-primary);

  background-color: #ffe79a;
  background-color: var(--bonnefanten-bg);
  transition: background-color 0.2s ease-in;

  #main {
    color: var(--bonnefanten-text);
  }

  &.title-out-of-view {
    --bonnefanten-bg: #fedacd;
    --bonnefanten-primary: #216d6a;
    --bonnefanten-primary-text: #575756;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    background-color: #fedacd;
    background-color: var(--bonnefanten-bg);
  }

  &.page-title-out-of-view{
    --bonnefanten-bg: #fedacd;
    --bonnefanten-primary: #216d6a;
    --bonnefanten-primary-text: #575756;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    background-color: #fedacd;
    background-color: var(--bonnefanten-bg);
  }

  &.homepage-title-out-of-view{
    --bonnefanten-bg: #faf5b8;
    --bonnefanten-primary: #7841b3;
    --bonnefanten-primary-text: #575756;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    background-color: #faf5b8;;
    background-color: var(--bonnefanten-bg);
  }

  &.homepage-title-in-view {
    --bonnefanten-bg: #FF4438;
    --bonnefanten-primary: #FFD100;
    --bonnefanten-primary-text: #575756;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    accent-color: var(--bonnefanten-primary);

    background-color: #ffe79a;
    background-color: var(--bonnefanten-bg);
  }

  &.page-title-in-view {
    --bonnefanten-bg: #FFE79A;
    --bonnefanten-primary: #F9423A;
    --bonnefanten-primary-text: #b6a782;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    accent-color: var(--bonnefanten-primary);

    background-color: #ffe79a;
    background-color: var(--bonnefanten-bg);
  }

  &.footer-in-view {
    --bonnefanten-bg: #ffd100;
    --bonnefanten-primary: #7841b3;
    --bonnefanten-primary-text: #575756;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    background-color: #ffd100;
    background-color: var(--bonnefanten-bg);
  }

  &.collectionslide-in-view {
    --bonnefanten-bg: #ab3c4e;
    --bonnefanten-primary: #cfb3e4;
    --bonnefanten-primary-text: #b6a782;
    --bonnefanten-primary-invert: #fff;
    --bonnefanten-secondary: #b6a782;
    --bonnefanten-text: #575756;
    accent-color: var(--bonnefanten-primary);

    background-color: #ffe79a;
    background-color: var(--bonnefanten-bg);
  }
}
