@font-face {
  font-display: swap;
  font-family: 'StyreneRegular';
  font-style: normal;
  font-weight: normal;
  src: url('@{siteFolder}/assets/fonts/StyreneB-Regular.woff') format('woff'),
    url('@{siteFolder}/assets/fonts/StyreneB-Regular.woff2') format('woff2'),
    url('@{siteFolder}/assets/fonts/StyreneB-Regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'StyreneBold';
  font-style: normal;
  font-weight: normal;
  src: url('@{siteFolder}/assets/fonts/StyreneB-Bold.woff') format('woff'),
    url('@{siteFolder}/assets/fonts/StyreneB-Bold.woff2') format('woff2'),
    url('@{siteFolder}/assets/fonts/StyreneB-Bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'BonnefantenBlock';
  font-style: normal;
  font-weight: normal;
  src: url('@{siteFolder}/assets/fonts/Bonnefanten-Block.woff') format('woff'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Block.woff2') format('woff2'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Block.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'BonnefantenGothic';
  font-style: normal;
  font-weight: normal;
  src: url('@{siteFolder}/assets/fonts/Bonnefanten-Gothic.woff') format('woff'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Gothic.woff2') format('woff2'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Gothic.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'BonnefantenSlab';
  font-style: normal;
  font-weight: normal;
  src: url('@{siteFolder}/assets/fonts/Bonnefanten-Slab.woff') format('woff'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Slab.woff2') format('woff2'),
    url('@{siteFolder}/assets/fonts/Bonnefanten-Slab.otf') format('opentype');
}

body,
.content-area {
  font-family: 'StyreneRegular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'StyreneBold', sans-serif;
}
